[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pymongo = "*"
cython = "*"
tornado = "*"
motor = "*"

[requires]
python_version = "3.5"
